{% extends 'layout.html' %}

{% block title %}Regiones{% endblock %}

{% block body %}

<div class="alert alert-info display-1 text-center">Listado de regiones</div>
    {% if regiones %}
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Nombre Región</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regiones %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.region_name}}</td>
                <td><a href="/eliminar_region/{{ reserva.id }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran regiones en el sistema</strong>
    </div>
    {% endif %}

    <a href="{% url 'listado_regiones' %}" class="btn btn-outline-danger">VOLVER</a>
    <a href="{% url 'ingresar_region' %}" class="btn btn-primary float-end">AGREGAR REGION</a>

{% endblock %}